@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark: hsl(216, 12%, 8%);
  --orange: hsl(25, 97%, 53%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Overpass", sans-serif;
  font-size: 15px;
  background-color: var(--very-dark);
  color: var(--white);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    margin: 0 auto;
    max-width: 360px;
    text-align: center;
    background-color: hsl(215, 24%, 14%);
    border-radius: 30px;
    padding: 1.5rem;
    text-align: left;
}

.text-center {
  text-align: center;
}

.card .star{
    background-color: var(--dark-blue);
    padding: 1rem;
    border-radius: 2rem;
}

.card h1{
    margin: 1rem 0;
}

.card p{
    color: var(--medium-grey);
    margin-bottom: 1.5rem;
}

.card .numbers {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.rate {
    width: 50px;
    height: 50px;
    background-color: var(--dark-blue);
    color: var(--medium-grey);
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    margin-right: 15px;
    margin-bottom: 15px;
    text-align: center;
}

/* BUTTONS */
.rate:hover{
  background-color: var(--medium-grey);
  color: var(--white);
  transition: ease-out 0.3s;
}

.rate:active, .active{
  background-color: var(--orange);
  color: var(--white);
  transition: ease-out 0.3s;
}

.submit-btn {
  width: 100%;
  height: 45px;
  border: 0;
  color: var(--white);
  background-color: var(--orange);
  border-radius: 25px;
  letter-spacing: 2px;
}

.submit-btn:hover{
  background-color: var(--white);
  color: var(--orange);
  transition: ease-in-out 0.2s;
  cursor: pointer;
}

/* Thank you state */
.select {
  display: inline-block;
  background-color: var(--dark-blue);
  padding: 0.5rem;
  margin: 1.5rem 0;
  color: var(--orange);
  border-radius: 25px;
}

#title {
  margin: 1rem 0;
  padding: 0;
}

#rating-state {
  display: block;
}

#thank-you-state {
  display: none;
}